/** @format */

$blue-grey: #353d4b;
$white-color: #ffffff;
$black-color: #000000;
$background-page: #e5e5e5;
$dark-white: #f6f7f9;
//form
$form-color: #818c99;
$placeholder-color: #b8c1cc;
$border-input: #ebecef;
$background-input: #f9fafc;
$backdrop: rgba(53, 61, 75, 0.2);
//buttons
$disabled-background: #e4e5e8;
$disabled-color: #6d7885;
$primary: #4587ed;
